.job-details-container {
  width: 90%;
  max-width: 1100px;
  margin: auto;
  padding-top: 80px;
}
.job-details {
  background-color: black;
}
.des {
  display: flex;
  width: 100%;
  justify-content: space-between;
  margin-bottom: 10px;
}

.linkblue {
  color: #788cf0;
  margin: 0;
}
.link-icon {
  color: #788cf0;
  width: 12px;
  height: 12px;
}

.link-container {
  display: flex;
  gap: 10px;
  justify-content: center;
  align-items: center;
  text-decoration: none;
  margin: 0;
}

.skills-container {
  margin-top: 30px;
}

.description-container {
  margin-top: 20px;
}

.skills {
  list-style-type: none;
  padding: 0;
  margin: 0;
  display: flex;
  flex-wrap: wrap;
  gap: 55px;
  width: 100%;
  justify-content: center;
  align-items: center;
  margin-top: 10px;
}

.skill-items {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
}
@media screen and (max-width: 768px) {
  .skills {
    list-style-type: none;
    padding: 0;
    display: grid;
    grid-template-columns: 1fr 1fr;
    flex-wrap: wrap;
    gap: 55px;
    width: 100%;
    margin-top: 10px;
  }
  .skill-items {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    gap: 10px;
  }
}
.skill-img {
  width: 35px;
  height: 35px;
}

.life-container {
  margin-top: 30px;
}
.life-details-container {
  display: flex;
  margin-top: 10px;
  gap: 30px;
}
@media screen and (max-width: 768px) {
  .life-details-container {
    display: flex;
    flex-direction: column;
  }
}

.life-img-container {
  width: 800px;
  background-color: #788cf0;
  border: none;
  border-radius: 10px;
  overflow: hidden;
}
@media screen and (max-width: 768px) {
  .life-img-container {
    width: 100%;
    background-color: #788cf0;
    border: none;
    border-radius: 10px;
    overflow: hidden;
    margin-top: 10px;
  }
}
.life-img {
  width: 100%;
  object-fit: contain;
}

.similar-job-card {
  background-color: black;
}

.similar-list {
  list-style-type: none;
  padding: 0;
  margin: 0;
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  margin-top: 20px;
  background-color: black;
}
