.job-card {
  width: 100%;
  border: none;
  border-radius: 8px;
  background-color: #272727;
  padding: 20px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  margin-bottom: 20px;
}
.job-card-top {
  display: flex;
  gap: 10px;
  margin-bottom: 10px;
}
.job-logo-container {
  border: none;
  border-radius: 8px;
  overflow: hidden;
  height: 40px;
  width: 40px;
  object-fit: contain;
}
.job-logo {
  width: 100%;
  object-fit: contain;
}
.job-title-container {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.job-title {
  font-size: 18px;
  color: white;
  margin: 0;
}
.job-card-para {
  font-size: 12px;
  color: white;
  margin: 0;
}
.job-card-mid {
  display: flex;
  justify-content: space-between;
  margin-bottom: 10px;
  width: 100%;
}
.location-type {
  display: flex;
  gap: 15px;
}

.description {
  display: flex;
  flex-direction: column;
  gap: 8px;
}
.line {
  color: rgb(255, 255, 255);
  width: 100%;
  height: 1px;
  border-color: #686868;
}

.link {
  text-decoration: none;
}
