.home-container {
  width: 100%;
  background: url(https://assets.ccbp.in/frontend/react-js/home-lg-bg.png);
  height: 100vh;
  background-size: cover;
  background-position: right center;
  overflow: hidden;
  padding-top: 80px;
}
@media screen and (max-width: 768px) {
  .home-container {
    background: url(https://assets.ccbp.in/frontend/react-js/home-sm-bg.png);
    background-position: right center;
    background-size: cover;
  }
}
.home-text-container {
  width: 90%;
  max-width: 1100px;
  color: white;
  margin: auto;
}

.home-text {
  width: 500px;
}
.home-heading {
  font-size: 56px;
}
.home-para {
  font-size: 16px;
}
@media screen and (max-width: 768px) {
  .home-text {
    width: 100%;
  }
  .home-heading {
    font-size: 56px;
  }
  .home-para {
    font-size: 24px;
    backdrop-filter: blur(10px);
    background: rgba(255, 255, 255, 0.2);
    border-radius: 12px;
    border: 1px solid rgba(255, 255, 255, 0.3);
    padding: 20px;
  }
}
.home-button {
  color: rgb(255, 255, 255);
  background-color: #4f46e5;
  border: none;
  border-radius: 4px;
  padding-left: 10px;
  padding-right: 10px;
  height: 30px;
  margin-top: 10px;
}
