.login-container {
  width: 100%;
  margin: auto;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-color: black;
}
.input-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 35px;
  background-color: rgb(53, 53, 53);
  border: none;
  border-radius: 10px;
  height: 300px;
  padding-top: 50px;
}

.logo {
  width: 100px;
  margin-bottom: 8px;
}
.textbox-container {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  color: rgb(220, 220, 220);
  margin: 6px;
  width: 200px;
}
@media screen and (max-width: 768px) {
  .textbox-container {
    width: 250px;
  }
  .input-container {
    align-items: flex-start;
  }
}
label {
  font-size: 10px;
}
.textBox {
  padding: 5px;
  font-size: 12px;
  background-color: transparent;
  color: rgb(220, 220, 220);
  border: solid;
  border-radius: 6px;
  border-width: 1px;
  border-color: rgb(220, 220, 220);
  margin-top: 4px;
  width: 100%;
}
@media screen and (max-width: 768px) {
  .textBox {
    font-size: 14px;
  }
  label {
    font-size: 12px;
  }
}
button {
  cursor: pointer;
}

.button-container {
  width: 200px;
  margin: 10px;
  margin-bottom: 2px;
}
@media screen and (max-width: 768px) {
  .button-container {
    width: 250px;
  }
}
.login-button {
  width: 100%;
  color: rgb(220, 220, 220);
  background-color: #4f46e5;
  border: none;
  border-radius: 4px;
  padding: 4px;
  height: 30px;
}
.error-text {
  color: rgb(186, 0, 0);
  font-size: 12px;
  margin: 0;
  padding: 0;
  align-self: flex-start;
}
